@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.title-display {
    height:900px;
    width:100%;
}

.stars, .sky {
    width: 100%;

}

.stars {
    position:absolute;
    left:0;
    top:10%;
    transition: all 3s;
    animation: fadeIn 3s;

}

.hindenburg-title {

}




.alternate-readers {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    column-gap: 2.5%;
}
.alternate-readers img {
    height:35px;
    padding-bottom: 20px;
}

.tip-desktop, .tip-mobile {
    font-family: goudy;
    font-size: 18pt;
    text-align: center;
    padding-bottom:30px;
}
.tip-mobile {
    display: none;
}




.strips {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

}

.strips > div > h1 {
    font-size: 48pt;
}

.strips > div > div> button {
    grid-area: button;
    width: 30%;
    border-radius: 30px;
    height: 50%;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
    transition: all .5s;
    letter-spacing: 5px;
}

.strips > div > div > button:hover {
    background-color: gray;
}

.carmsborough-grid, .carmsborough-strip, .about-strip, .support-strip {
    align-items: center;
    justify-items: center;
}

.carmsborough-strip {
    margin:0;
    gap:0;
    padding-top:70px;
    border-top: 10px solid black;
    height: 800px;
    background-color: rgb(48,48,48);
    background-color: rgb(12,6,2);
    background-image: url(canvas.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.carmsborough-grid {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: .8fr 1.2fr;
    grid-template-areas:
    "blank map flag blank2"
    "blank map context blank2";
    gap:5%;
    align-content: center;
    justify-content: center;
}
#map {
    width:600px;
    height: 600px;
    grid-area: map;
    border:20px double white;
}
#flag {
    transform: rotate(-10deg);
    width:325px;
    height: 224px;
    grid-area: flag;
}
#context {
    width:300px;
    height: 300px;
    grid-area: context;
}
#map-item {
    width: 100%;
    background-image: url("map\ empty.png");
    background-size: contain;
    font-family: cecep;
}
#flag #map-item {
    border-radius: 20px;
}
.tack {
    width:100px;
}
#red-1 {
    transform: rotate(-90deg);
    position: relative;
    top: -640px;
    left: -20px;
}
#red-2 {
    position: relative;
    top: -650px;
    right:-430px;
}
#blue-tack {
    transform: rotate(-45deg);
    position: relative;
    top:-220px;
    left:110px;
}
#tape {
    position: relative;
    width: 380px;
    left:-35px;
    top:-330px;
}

.about-strip {
    height: 600px;
    background-color: rgb(12,6,2);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: .5fr 1fr .5fr;
    grid-template-areas:
    "empty picture title empty2"
    "empty picture paragraph empty2"
    "empty picture button empty2";
}

#cover {
    grid-area: picture;
    height: 500px;
    width: auto;
}
#about {
    grid-area: title;
    color: rgb(255,142,36);
    font-family: cecep;
}
#details {
    grid-area: paragraph;
    color:white;
    font-family: goudy;
    font-size: 18pt;
    width:380px;
    text-align: justify;
    text-justify: inter-word;
}
.about-button {
    width: 100%;
    height: 100%;
    padding:0;
    grid-area: button;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
    "read"
    "learn";
    align-items:top;
    justify-items: center;
}
#read, #learn {
    font-family: cecep;
    color: rgb(255,142,36);
    background-color: rgb(36,36,36);
    border-color: rgb(36,36,36);
    font-size: 16pt;
    width:50%;
    height:60%;
    padding:0px;
    margin: 0px;
}
#read:hover,#learn:hover {
    background-color:gray;
}
#read {
    grid-area: read;
}
#learn {
    grid-area: learn;
}

.support-strip {
    height: auto;
    background-color: rgb(36,36,36);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 170px 170px 170px 16px;
    grid-template-areas:
    "support support support support"
    "blank1 subtitle subtitle blank2"
    "blank1 gray1 empty1 blank2"
    "blank1 empty2 blueitem blank2"
    "blank1 gray2 empty3 blank2"
    "disclaimer disclaimer disclaimer disclaimer";
    text-align: center;
}

#gray1 {
    padding:0;
    padding-top: 20px;
}
#gray1 > a > img, #blue > a > img, #gray2 > a > img {
    height:120px;
}
#gray1 > a > p, #blue > a > p, #gray2 > a > p {
    font-family: cecep;
    font-size: 15pt;
    color:white;
    position: relative;
    width:67%;
    left:80px;
    top:-90px;
    text-align: left;
}
#blue > a > p {
    padding:0;
    text-align: right;
    top: -100px;
    left: 30px;
}
#gray2 > a > p {
    padding:0;
    left:60px;
    top:-100px;
}

#support {
    margin:0;
    padding:0;
    grid-area: support;
    color:#FF8E24;
    font-family: cecep;
    text-decoration: none;
    font-weight: normal;
    padding-top: 15px;
}
#subtitle {
    margin:0;
    padding:0;
    grid-area: subtitle;
    color:white;
    font-family: goudy;
    font-weight: normal;
}
#gray1 {
    padding:0;
    grid-area: gray1;
}
#blue {
    padding:0;
    grid-area: blueitem;
}
#gray2 {
    padding:0;
    grid-area: gray2;
}
#disclaimer {
    padding:0;
    grid-area: disclaimer;
    font-style: goudy;
    color:white;
    font-size: 10pt;
}

.universal-header {
    height: 100px;
}


@media screen and (max-width: 1250px) {
    .about-strip {
        grid-template-columns: .5fr 2fr 2fr .5fr;
    }
    .support-strip {
        grid-template-rows: 100px 50px 170px 170px 170px auto;
    }
    .strips > div > h1 {
        font-size: 36pt;
    }
    #gray2 > a > p {
        font-size: 13pt;
        top: -97px;
    }
    .carmsborough-strip {
        height: auto;
        background-repeat: repeat;
        padding: 0;
        justify-content: center;
        align-content: center;
    }
    .carmsborough-grid {
        padding: 80px 0;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "map map"
        "flag context";
    }
    .reader {
        transform: scale(.95);
    }
}


@media screen and (max-width: 1000px) {

    .about-strip {
        height: 1000px;
        background-color: rgb(12,6,2);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 550px 1fr 4fr 2fr;
        grid-template-areas:
        "picture"
        "title"
        "paragraph"
        "button";
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }

    #about {
        margin: 10px;
        margin-bottom: 15px;
    }
    .about-button {
        height: 120px;
    }
    #details {
        padding-bottom: 15px;
    }

    .carmsborough-grid {
        row-gap: 0;
        padding: 40px 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "map"
        "flag"
        "context";
    }
    #map {
        width: 400px;
        height: 400px;
    }
    #red-1 {
        top: -440px;
        left: -20px;
    }
    #red-2 {
        top: -450px;
        right:-230px;
    }

    .reader {
        transform: scale(.9);
    }
    
}

@media screen and (max-width: 800px) {
    .reader {
        height: 720px;
        width: 480px;
    }
    .book {
        height: 720px;
        width: 480px;
        transform: scale(.9);
    }

    #indent, #no-indent, #story-break, #page-end {
        font-size: 10.4pt;
        line-height: 23px;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 675px) {
    #gray1 > a > img, #blue > a > img, #gray2 > a > img {
        height:110px;
    }
    .support-strip {
        padding-left: 7.5%;
        grid-template-columns: 45% 45%;
        grid-template-areas:
        "support support"
        "subtitle subtitle"
        "gray1 empty1"
        "empty2 blueitem"
        "gray2 empty3 "
        "disclaimer disclaimer";
    }
    .support-strip #subtitle {
        font-size:16pt;
    }
    #support {
        font-size: 20pt;
    }
    #gray1 > a > p {
        top: -82px;
    }
    #blue > a > p {
        top: -92px;
    }
    #gray2 > a > p {
        top: -90px;
    }
    #map {
        transform: scale(.85);
    }
}