:root {
    --background: aliceblue;
    --header-background: #a7cdff;
    --text: #663a0e;
    --text-highlight: #367DD9;
    --text-unclickable: gray;
    --text-selected: aliceblue;
}

body {
    overflow-x: hidden;
}
  
.display {
    height:650px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(clouds.png);
}
.display > img {
    width:600px;
}

.island-border {
    height: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-top: 6px solid rgb(48,48,48);
    border-bottom: 6px solid rgb(48,48,48);
    background-color: rgb(48,48,48);
    justify-items: center;

}
.island-border > img {
    height: 240px;
    border-left: 2px solid rgb(48,48,48);
    border-right: 2px solid rgb(48,48,48);
}

.scrolldown {
    text-align: center;
    font-size: 16pt;
    padding-top: 25px;
    padding-bottom: 25px;
}


.book {
    background-color: #367DD9;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 3fr 1fr 1fr 3fr 1fr;
    grid-template-areas:
    "cover availablenow"
    "cover secrets"
    "cover social"
    "cover description"
    "cover button";
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 600px;
    font-family: goudy;
    padding-bottom:35px;
    border-bottom: 6px dashed rgb(48,48,48);
}
#book {
    width: 55%;
    grid-area: cover;
    margin:0;
}
#available-now {
    grid-area: availablenow;
    color: white;
    text-align: center;
    font-size: 30pt;
    margin-bottom: 0;
}
#secrets {
    grid-area: secrets;
    color: aliceblue;
    text-align: left;
    font-size: 16pt;
    margin:0;
}
#book-description {
    width:70%;
    grid-area: description;
    color: aliceblue;
    font-size: 16pt;
    margin:0;
    text-align: justify;
    text-justify: inter-word;
}
#book-button {
    grid-area: button;
    margin:0;
    margin-top: 30px;
    background-color:transparent;
    border:1px solid white;
    color:white;
    font-family: goudy;
    font-size:16pt;
    transition: all .5s;
    width:70%;
    height:100%;
}
#book-button:hover {
    background-color: gray;
}
.book-socials {
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
    grid-area: social;
    margin:0;
}
.book-socials > a {
    width: 75px;
}
.book-socials > a > img {
    height:24px;
}


.about-the-author {
    background-repeat: no-repeat;
    background-size: fill;
    display: grid;
    grid-template-columns: 2fr 6fr 6fr 2fr;
    grid-template-rows: 1fr .5fr 7fr;
    grid-template-areas:
    "empty author about-title empty2"
    "empty author underlinegrid empty2"
    "empty author aboutabout empty2";
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    column-gap: 5%;
    height: 500px;
    font-family: goudy;
    padding-top:35px;
    padding-bottom:35px;
}
#about-title {
    grid-area: about-title;
    border-bottom: 1px solid black;
}
#about {
    grid-area: aboutabout;
    line-height: 20pt;
}
#about-the-author {
    grid-area: author;
    width: 350px;
    border: 11px solid gray;
}



.reviews {
    background-color: #607A95;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40px 250px;
    grid-template-areas:
    "empty reviews-title empty2"
    "empty carousel empty2";
    align-items: center;
    justify-items: center;
    text-align: justify;
    text-justify: inter-word;
    column-gap: 5%;
    height: 450px;
    font-family: goudy;
    row-gap: 20%;
    padding-top:40px;
    border-top: 6px dashed rgb(48,48,48);
}
#reviews {
    padding-top: 30px;
    grid-area: reviews-title;
    text-align: center;
    color: white;
    font-size: 36pt;
    letter-spacing: 3px;
    width:100%;
}
.carousel {
    grid-area: carousel;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.slide-outer {
    display: grid;
    border: 1px solid white;
    height: 250px;
    width: 250px;
    align-items: center;
    justify-items: center;
    background-color: #576D82;
    border-radius: 6px;
    transition: all .5s;
}
.slide {
    color: white;
    text-align: center;
    width:95%;
    height: 95%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .3fr 1.7fr .4fr;
    border-radius: 9px;
}
.slide > a {
    color: inherit;
    text-decoration: underline;
}
.slide-outer:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: scale(1.5);
    z-index: 30;
}
#center {
    position: relative;
    left: -25%;
}
#left {
    position: relative;
    left:0%;
    transform: rotate(-5deg);
}
#left:hover {
    transform: rotate(5deg) scale(1.5);
}


.emphasis {
    padding: 0;
    margin: 0;
    
    text-decoration: none;
    font-family: goudy;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

@media screen and (max-width: 1250px) {

    #about {
        padding-right: 5%;
        line-height: 14pt;
        width:90%;
    }
    #about-the-author {
        width: 275px;
    }

    #book {
        width: 65%;
    }

}

@media screen and (max-width: 900px) {
    
    #about-the-author {
        width: 200px;
    }

    .book {
        display: grid;
        grid-template-columns: 43vw 57vw;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        "cover availablenow"
        "cover social"
        "cover button"
        "secrets secrets"
        "description description";
        align-items: center;
        justify-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        height: auto;
        font-family: goudy;
        column-gap: 0%;
        padding-top:35px;
    }
    #book {
        width: 190px;
    }
    #available-now {
        font-size: 24pt;
        width: 90%;
    }
    #secrets {
        margin-top: 60px;
    }
    #book-description {
        width:90vw;
        margin-top: 30px;
    }
    #book-button {
        width:90%;
        height:100%;
    }
    .book-socials {
        width: 90%;
    }
    .emphasis {
        font-size: 20pt;
    }
}

@media screen and (max-width: 750px) {

    .display > img {
        width:80vw;
    }
    


    .about-the-author {
        background-image: url("section 2.png");
        background-repeat: no-repeat;
        background-size: fill;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr .5fr 7fr;
        grid-template-areas:
        "author author about-title about-title"
        "author author underlinegrid underlinegrid"
        "author author aboutabout aboutabout";
        align-items: center;
        justify-items: center;
        text-align: justify;
        text-justify: inter-word;
        column-gap: 5%;
        font-family: goudy;
    }
    #about-title {
        text-align: left;
        align-self: left;
        justify-self: left;
    }
    #about {
        padding-right: 5%;
        line-height: 14pt;
    }
    #about-the-author {
        width: 150px;
        margin-left: 10%;
    }


    #reviews {
        row-gap: 0%;
    }
    .slide-outer {
        height: 200px;
        width: 200px;
        margin-top: 10%;
    }
    .slide > h2 {
        margin: 0;
    }
    .slide > p {
        font-size: 10pt;
    }
    .slide-outer:hover {
        transform: scale(1.15);
    }
    #left:hover {
        transform: rotate(5deg) scale(1.15);
    }

    .newsletter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "newsletter-title newsletter-title newsletter-title"
        "newsletter-offer newsletter-offer newsletter-offer"
        "form form form";
    }

    #newsletter-offer {
        width: 90%;
    }

    .newsletter-form {
        width: 80vw;
        column-gap:2.5%;
    }
    #email-textbox, #name-textbox {
        width: 95%;
    }

    /* #pic3, #pic4, #pic5 {
        display:none;
    } */
    #pic5 {
        display:none;
    }
    .island-border {
        height:100px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
    .island-border > img {
        height:100px;
    }

}