:root {
    --background: rgb(15, 15, 15);
    --header-background: black;
    --text: white;
    --text-highlight: #FF8E24;
    --text-unclickable: gray;
    --text-selected: #F4BA73;
    --socials-background-color: var(--text-highlight);
}

.display {
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
    "empty vigilantes empty2";
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 5%;
    row-gap: 2%;
}

.collection-header {
    grid-area: title;
}

.collection-vigilantes {
    height: auto;
    width: 100%;
    padding: 30px;
    border: 1px solid black;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-area: vigilantes;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title title title"
    "empty release chronological empty2"
    "bookviewer bookviewer bookviewer bookviewer";
    background-color: black;
}

.bookviewer {
    grid-area: bookviewer;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.collection-vigilantes h3 {
    color: rgb(255,142,36);
    font-family: cecep;
    font-size: 42pt;
    margin: 0;
}

.release {
    grid-area: release;
    color: rgb(255,142,36);
    padding: 30px;
}

.chronological {
    grid-area: chronological;
    color: rgb(255,142,36);
    padding: 30px;
}

.book {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    margin: 15px 0 15px 0;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: .5s all;
    border: 2px solid white;
    background-color: black;
}

.book:hover {
    transform: scale(1.05);
    color: black;
}

.cover {
    width: 100%;
    height: 338px;
    padding-left: 10px;
}

.blurb {
    color: white;
    width: 90%;
    padding: 4%;
}

.display-a {
    width: 225px;
    height: 338px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 750px) {
    .display {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "vigilantes";
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        column-gap: 5%;
        row-gap: 2%;
        margin: 0 10px 10px 10px;
        padding: 10px;
    }

    .collection-vigilantes {
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 10px;
        width: 100%;
        grid-template-areas:
        "title title title title"
        "release release chronological chronological"
        "bookviewer bookviewer bookviewer bookviewer";
    }

    .collection-vigilantes h3 {
        font-size: 24pt;
        text-align: center;
    }

    .book {
        flex-direction: column;
    }

    .cover {
        padding-top: 15px;
        padding-left: 0px;
    }
}