:root {
    --background: rgb(173,131,101);
    --header-background: rgb(133,164,117);
    --text: #3A2C3A;
    --text-highlight: rgba(177,219,156);
    --text-unclickable: gray;
}

.display {
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
    "empty steamwar empty2";
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 5%;
    row-gap: 2%;
}

.collection-header {
    grid-area: title;
}

.collection-steam {
    height: auto;
    width: 100%;
    padding: 30px;
    border: 1px solid black;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-area: steamwar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title title title"
    "empty release chronological empty2"
    "bookviewer bookviewer bookviewer bookviewer";
    background-color: rgb(133,164,117);
}

.collection-steam h3 {
    font-size: 36pt;
    color: white;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: goudy;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.bookviewer {
    grid-area: bookviewer;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.book {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    margin: 15px 0 15px 0;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: .5s all;
    border: 2px solid black;
    background-color: aliceblue;
}

.book:hover {
    transform: scale(1.05);
    color: black;
}

.cover {
    width: 100%;
    height: 338px;
    padding-left: 10px;
}

.blurb {
    color: black;
    width: 90%;
    padding: 4%;
}

.display-a {
    width: 225px;
    height: 338px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 750px) {
    .display {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "steamwar";
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        column-gap: 5%;
        row-gap: 2%;
        margin: 0 10px 10px 10px;
        padding: 10px;

    }

    .collection-steam {
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 10px;
        width: 100%;
    }

    .collection-steam h3 {
        font-size: 24pt;
        text-align: center;
    }

    .book {
        flex-direction: column;
    }

    .cover {
        padding-top: 15px;
        padding-left: 0px;
    }
}