p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.reader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    overflow: hidden;
    height: 900px;
}
.reader {
    overflow: visible;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "left book right";
    height: 90vh;
    width:60vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    column-gap:5vw;

    font-family: sans-serif;
}
.book {
    grid-area: book;
    position: relative;
    width: 60vh;
    height: 90vh;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content:center;
    text-align: justify;
    line-height: 16pt;
    align-items: center;

    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px;
}

#chapter-header {
    margin-left: 20%;
    margin-top: 35%;
    font-family: Garamond;
    font-size: x-large;
}

#chapter-bar {
    margin-left: 20%;
    margin-bottom: 28%;
    font-family: Garamond;
    font-size: x-large;
}

#indent{
    font-family: Garamond;
    text-indent: 5%;
    font-size: 1.825vh;
    line-height: 2.9vh;
    letter-spacing: -.024vh;
}
#no-indent {
    font-family: Garamond;
    font-size: 1.825vh;
    line-height: 2.9vh;
    letter-spacing: -.024vh;
}
#story-break, #page-end {
    font-family: Garamond;
    text-align: center;
    padding-bottom: 10pt;
    font-size: 1.825vh;
    line-height: 2.9vh;
    letter-spacing: -.024vh;
}

.back-content > #no-indent, .back-content > #indent {
    margin-right: 6%;
    margin-left: 10%;
}

.front-content > #no-indent, .front-content > #indent {
    margin-left: 6%;
    margin-right: 10%;
}

#page-start {
    margin-bottom: 8%;
}
#page-end {
    position: relative;
    margin-top: 1%;
    bottom: 10px;
}

.back-content {
    transform: rotateY(180deg);
    border-right: 1px solid gray;
}

.front-content > img, .back-content > img {
    height: 100%;
    width: 100%;
    user-select: none;
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 5%;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: black;
}

i {
    font-size: 50px;
    color: black;
}

/* Paper stack order */
#p1 {
    z-index: 10;
}
#p2 {
    z-index: 9;
}
#p3 {
    z-index: 8;
}
#p4 {
    z-index: 7;
}
#p5 {
    z-index: 6;
}
#p6 {
    z-index: 5;
}
#p7 {
    z-index: 4;
}
#p8 {
    z-index: 3;
}
#p9 {
    z-index: 2;
}
#p10 {
    z-index: 1;
}

#prev-btn {
    display: none;
    grid-area: left;
}

#next-btn {
    grid-area: right;
}

#chapter-cover, #chapter-mobile, #chapter-back {
    position: absolute;
    top: 38%;
    right: 15%;
    align-self: center;
    background: rgba(12,6,2,.5);
    color: #FF8E24;
    width: 125px;
    height: 5%;
    font-size: 18px;
    transition: .5s;
    text-align: center;
    border-radius: 10px;
    border: 1px black;
    z-index: 100;
}

#chapter-cover:focus-visible, #chapter-mobile:focus-visible, #chapter-back:focus-visible {
    border: none;
    outline: none;
}

.dropper {
    background-color:rgba(12,6,2);
}

#chapter-back {
    background: rgba(12,6,2);
    top: 45%;
    left: 25%;
    width: 50%;
    height: 10%;
    font-size: 4vh;
}

#chapter-mobile {
    display: none;
}

.back-mobile, .forward-mobile {
    display: none;
}

.back-mobile  {
    display: inherit;
    position: absolute;
    width: 15%;
    height: 100%;
    left: -100%;
    z-index: 40;
}

.forward-mobile {
    display: inherit;
    position: absolute;
    width: 15%;
    height: 100%;
    right:0;
    z-index: 40;
}


@media screen and (max-width: 800px) {
    .reader {
        overflow: visible;
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 52px auto;
        grid-row:auto;
        grid-template-areas: 
        "prev chapter next"
        "book book book";

        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;

        font-family: sans-serif;
    }

    #chapter-mobile {
        display: inherit;
        position: inherit;
        grid-area: chapter;
        width: 100%;
        height: 80%;
        background: rgba(12,6,2,1);
    }

    #chapter-cover, #chapter-back {
        display: none;
    }

    .book {
        grid-area: book;
        transition: transform 0.5s;
    }
    .button {
        margin-top: 15%;
        position: absolute;
    }
    #prev-btn {
        grid-area: prev;
    }
    #next-btn {
        grid-area: next;
    }
    .front > div > img {
        padding:0;
        margin: 0;
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    .back {
        display: none;
        visibility: hidden;
    }
    .front {
        width: 100%;
    }
    #chapter-header {
        margin-left: 7%;
        margin-top: 18%;
        font-size: 15px;
    }

    #chapter-bar {
        margin-left: 7%;
        margin-bottom: 28%;
        font-size: 15px;
    }
    #indent, #no-indent, #page-end {
        margin-left: 4%;
        margin-right: 2%;
    }
    .back-mobile {
        display: inherit;
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        z-index: 90;
    }
    .forward-mobile {
        display: inherit;
        position: absolute;
        width: 50%;
        height: 100%;
        right:0;
        z-index: 90;
    }
}

.loadbearing {
    visibility: hidden;
}



.alternate-readers {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    column-gap: 2.5%;
}
.alternate-readers img {
    height:35px;
    padding-bottom: 20px;
}

.tip-desktop, .tip-mobile {
    font-family: goudy;
    font-size: 18pt;
    text-align: center;
    padding-bottom:30px;
}
.tip-mobile {
    display: none;
}




.strips {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

}

.strips > div > h1 {
    font-size: 48pt;
}

.strips > div > div> button {
    grid-area: button;
    width: 30%;
    border-radius: 30px;
    height: 50%;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
    transition: all .5s;
    letter-spacing: 5px;
}

.strips > div > div > button:hover {
    background-color: gray;
}

.carmsborough-grid, .carmsborough-strip, .about-strip, .support-strip {
    align-items: center;
    justify-items: center;
}

.carmsborough-strip {
    margin:0;
    gap:0;
    padding-top:70px;
    border-top: 10px solid black;
    height: 800px;
    background-color: rgb(48,48,48);
    background-color: rgb(12,6,2);
    background-image: url(canvas.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.carmsborough-grid {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: .8fr 1.2fr;
    grid-template-areas:
    "blank map flag blank2"
    "blank map context blank2";
    gap:5%;
    align-content: center;
    justify-content: center;
}
#map {
    width:600px;
    height: 600px;
    grid-area: map;
    border:20px double white;
}
#flag {
    transform: rotate(-10deg);
    width:325px;
    height: 224px;
    grid-area: flag;
}
#context {
    width:300px;
    height: 300px;
    grid-area: context;
}
#map-item {
    width: 100%;
    background-image: url("map\ empty.png");
    background-size: contain;
    font-family: cecep;
}
#flag #map-item {
    border-radius: 20px;
}
.tack {
    width:100px;
}
#red-1 {
    transform: rotate(-90deg);
    position: relative;
    top: -640px;
    left: -20px;
}
#red-2 {
    position: relative;
    top: -650px;
    right:-430px;
}
#blue-tack {
    transform: rotate(-45deg);
    position: relative;
    top:-220px;
    left:110px;
}
#tape {
    position: relative;
    width: 380px;
    left:-35px;
    top:-330px;
}

.about-strip {
    height: 600px;
    background-color: rgb(12,6,2);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: .5fr 1fr .5fr;
    grid-template-areas:
    "empty picture title empty2"
    "empty picture paragraph empty2"
    "empty picture button empty2";
}

#cover {
    grid-area: picture;
    height: 500px;
    width: auto;
}
#about {
    grid-area: title;
    color: rgb(255,142,36);
    font-family: cecep;
}
#details {
    grid-area: paragraph;
    color:white;
    font-family: goudy;
    font-size: 18pt;
    width:380px;
    text-align: justify;
    text-justify: inter-word;
}
.about-button {
    width: 100%;
    height: 100%;
    padding:0;
    grid-area: button;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
    "read"
    "learn";
    align-items:top;
    justify-items: center;
}
#read, #learn {
    font-family: cecep;
    color: rgb(255,142,36);
    background-color: rgb(36,36,36);
    border-color: rgb(36,36,36);
    font-size: 16pt;
    width:50%;
    height:60%;
    padding:0px;
    margin: 0px;
}
#read:hover,#learn:hover {
    background-color:gray;
}
#read {
    grid-area: read;
}
#learn {
    grid-area: learn;
}

.support-strip {
    height: auto;
    background-color: rgb(36,36,36);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 170px 170px 170px 16px;
    grid-template-areas:
    "support support support support"
    "blank1 subtitle subtitle blank2"
    "blank1 gray1 empty1 blank2"
    "blank1 empty2 blueitem blank2"
    "blank1 gray2 empty3 blank2"
    "disclaimer disclaimer disclaimer disclaimer";
    text-align: center;
}

#gray1 {
    padding:0;
    padding-top: 20px;
}
#gray1 > a > img, #blue > a > img, #gray2 > a > img {
    height:120px;
}
#gray1 > a > p, #blue > a > p, #gray2 > a > p {
    font-family: cecep;
    font-size: 15pt;
    color:white;
    position: relative;
    width:67%;
    left:80px;
    top:-90px;
    text-align: left;
}
#blue > a > p {
    padding:0;
    text-align: right;
    top: -100px;
    left: 30px;
}
#gray2 > a > p {
    padding:0;
    left:60px;
    top:-100px;
}

#support {
    margin:0;
    padding:0;
    grid-area: support;
    color:#FF8E24;
    font-family: cecep;
    text-decoration: none;
    font-weight: normal;
    padding-top: 15px;
}
#subtitle {
    margin:0;
    padding:0;
    grid-area: subtitle;
    color:white;
    font-family: goudy;
    font-weight: normal;
}
#gray1 {
    padding:0;
    grid-area: gray1;
}
#blue {
    padding:0;
    grid-area: blueitem;
}
#gray2 {
    padding:0;
    grid-area: gray2;
}
#disclaimer {
    padding:0;
    grid-area: disclaimer;
    font-style: goudy;
    color:white;
    font-size: 10pt;
}

.universal-header {
    height: 100px;
}


@media screen and (max-width: 1250px) {
    .about-strip {
        grid-template-columns: .5fr 2fr 2fr .5fr;
    }
    .support-strip {
        grid-template-rows: 100px 50px 170px 170px 170px auto;
    }
    .strips > div > h1 {
        font-size: 36pt;
    }
    #gray2 > a > p {
        font-size: 13pt;
        top: -97px;
    }
    .carmsborough-strip {
        height: auto;
        background-repeat: repeat;
        padding: 0;
        justify-content: center;
        align-content: center;
    }
    .carmsborough-grid {
        padding: 80px 0;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "map map"
        "flag context";
    }
    .reader {
        transform: scale(.95);
    }
}


@media screen and (max-width: 1000px) {

    .about-strip {
        height: 1000px;
        background-color: rgb(12,6,2);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 550px 1fr 4fr 2fr;
        grid-template-areas:
        "picture"
        "title"
        "paragraph"
        "button";
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }

    #about {
        margin: 10px;
        margin-bottom: 15px;
    }
    .about-button {
        height: 120px;
    }
    #details {
        padding-bottom: 15px;
    }

    .carmsborough-grid {
        row-gap: 0;
        padding: 40px 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "map"
        "flag"
        "context";
    }
    #map {
        width: 400px;
        height: 400px;
    }
    #red-1 {
        top: -440px;
        left: -20px;
    }
    #red-2 {
        top: -450px;
        right:-230px;
    }

    .reader {
        transform: scale(.9);
    }
    
}

@media screen and (max-width: 800px) {
    .reader {
        height: 720px;
        width: 480px;
    }
    .book {
        height: 720px;
        width: 480px;
        transform: scale(.9);
    }

    #indent, #no-indent, #story-break, #page-end {
        font-size: 10.4pt;
        line-height: 23px;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 675px) {
    #gray1 > a > img, #blue > a > img, #gray2 > a > img {
        height:110px;
    }
    .support-strip {
        padding-left: 7.5%;
        grid-template-columns: 45% 45%;
        grid-template-areas:
        "support support"
        "subtitle subtitle"
        "gray1 empty1"
        "empty2 blueitem"
        "gray2 empty3 "
        "disclaimer disclaimer";
    }
    .support-strip #subtitle {
        font-size:16pt;
    }
    #support {
        font-size: 20pt;
    }
    #gray1 > a > p {
        top: -82px;
    }
    #blue > a > p {
        top: -92px;
    }
    #gray2 > a > p {
        top: -90px;
    }
    #map {
        transform: scale(.85);
    }
}